<!DOCTYPE html>
<html>
<head>
  <title>Event logging</title>
  <%= stylesheet_link_tag    "event_logging/application", media: "all" %>
  <%= javascript_include_tag "event_logging/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
